/* -------------------------------------------------- */
/* General Settings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, rgb(55, 55, 55) 0%, rgb(29, 29, 33) 100%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background: linear-gradient(90deg, rgb(29, 29, 33) 0%, rgb(55, 55, 55) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-img {
  /*mq*/
  width: 8.5rem;
  height: 5rem;
}

.logo-img:hover {
  content: url(./assets/logo-personal2.png);
}

#navbar ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem; /*mq*/
}

#navbar ul a li {
  transition: 0.2s;
}

#navbar ul a li:hover {
  color: #ffd700;
}

#welcome-section {
  margin-top: 10em;
  text-align: center;
  color: white;
}

#welcome-section {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.8em;
}

#welcome-section h1 {
  padding: 0.5rem;
}

#welcome-section span {
  color: #ffd700;
}

#welcome-section .welc-content {
  margin: 5em;
  justify-content: start;
}

#welcome-section .welc-content .welc-desc {
  margin: 1em 0;
}

.section-title {
  color: white;
  text-align: center;
}

#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  color: white;
  width: 100%;
}
.project-tile {
  margin: 1em;
  width: 70%;
  padding: 0.5em;
  text-align: center;
  line-height: 1.1em;
  border: 1px solid #ffd700;
  transition: 0.5s;
}

.project-tile:hover {
  transform: scale(1.1);
}

.project-tile img {
  width: 100%;
  height: 6em;
}

.project-tile .container .project-title {
  font-size: 1em;
  margin: 0.5em;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .icons img {
  transition: 0.5s;
}

#contact .icons img:hover {
  transform: scale(1.15);
}

.icons a img {
  width: 3em;
}

/* ------------------------------------------------ */
/* movein animation */
#skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.pl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffd700;
  border-radius: 10%;
  padding: 0.5em;
  width: 10em;
  transform: translateX(800%);
}

.moveinout {
  animation: moveInOut 10s linear infinite;
}

.pl-logo {
  width: 3em;
}

.pl-text {
  color: white;
}

@keyframes moveInOut {
  0% {
    transform: translate3d(500%, 0, 0);
  }
  10% {
    transform: translate3d(400%, 0, 0);
  }
  20% {
    transform: translate3d(300%, 0, 0);
  }
  30% {
    transform: translate3d(200%, 0, 0);
  }
  40% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-500%, 0, 0);
  }
}
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* welcome-section animation */
.intro {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  background-color: #000000;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  animation: slide-in-out 3s ease-in-out forwards;
}

.anim {
  animation: slide-in-out 2s ease-in-out forwards;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.slider {
  background-color: rgb(30, 30, 30);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: #ffd700;
  font-size: 2.5rem;
  line-height: 3em;
}

@keyframes slide-in-out {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/* ---------------------------------------------- */

/* MQ */
@media (max-width: 400px) {
  .logo-img {
    width: 6.5rem;
    height: 3.1rem;
  }

  #navbar {
    display: none;
  }

  #welcome-section h1 {
    font-size: 3em;
  }

  .intro-text {
    font-size: 2.5rem; /*for animation*/
    line-height: 3em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.1em;
    width: 15;
    height: 12em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 5em;
  }

  .project-tile .container .project-title {
    font-size: 1em;
  }

  .pl-container {
    width: 9em;
  }
}

@media (min-width: 401px) and (max-width: 499px) {
  .logo-img {
    width: 6.5rem;
    height: 3.1rem;
  }

  #navbar {
    display: none;
  }

  #welcome-section h1 {
    font-size: 3em;
  }

  #welcome-section .welc-content h2 {
    font-size: 1.9em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 1.6em;
    line-height: 1em;
  }

  .intro-text {
    font-size: 2.8rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.1em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.1em;
    width: 18em;
    height: 14em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 7em;
  }

  .project-tile .container .project-title {
    font-size: 1.2em;
  }

  .project-tile .container p {
    font-size: 1em;
  }

  #contact .icons a img {
    width: 4.5em;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .logo-img {
    width: 6.5rem;
    height: 3.1rem;
  }

  #navbar {
    display: none;
  }

  #welcome-section h1 {
    font-size: 3em;
  }

  #welcome-section .welc-content h2 {
    font-size: 2em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 1.6em;
  }

  .intro-text {
    font-size: 2.8rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.1em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.1em;
    width: 20em;
    height: 16em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 8em;
  }

  .project-tile .container .project-title {
    font-size: 1.2em;
  }

  .project-tile .container p {
    font-size: 0.7em;
  }

  #contact .icons a img {
    width: 4.5em;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .logo-img {
    width: 6.5rem;
    height: 3.1rem;
  }

  #welcome-section h1 {
    font-size: 4em;
  }

  #welcome-section .welc-content h2 {
    font-size: 2.2em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 1.85em;
    line-height: 1.5em;
  }

  .intro-text {
    font-size: 2.8rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.1em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.1em;
    width: 24em;
    height: 18em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 10em;
  }

  .project-tile .container .project-title {
    font-size: 1.55em;
  }

  .project-tile .container p {
    font-size: 1.15em;
  }

  #contact .icons a img {
    width: 4.5em;
  }

  #navbar ul a li {
    font-size: 1.6em;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .logo-img {
    width: 6.7rem;
    height: 3.3rem;
  }

  #welcome-section h1 {
    font-size: 4em;
  }

  #welcome-section .welc-content h2 {
    font-size: 2.2em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 1.85em;
    line-height: 1.5em;
  }

  .intro-text {
    font-size: 2.8rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.1em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.1em;
    width: 24em;
    height: 18em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 10em;
  }

  .project-tile .container .project-title {
    font-size: 1.7em;
    line-height: 1em;
  }

  .project-tile .container p {
    font-size: 1.2em;
  }

  #contact .icons a img {
    width: 4.5em;
  }

  #navbar ul a li {
    font-size: 1.6em;
  }

  #skills .pl-container {
    width: 12.5em;
  }

  #skills .pl-container .pl-logo {
    width: 3.5em;
  }

  #skills .pl-container .pl-text {
    font-size: 1.5em;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .logo-img {
    width: 6.7rem;
    height: 3.3rem;
  }

  #welcome-section h1 {
    font-size: 5.5em;
  }

  #welcome-section .welc-content h2 {
    font-size: 3em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 1.95em;
    line-height: 1.6em;
  }

  .intro-text {
    font-size: 3rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.3em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.2em;
    width: 28em;
    height: 22em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 13em;
  }

  .project-tile .container .project-title {
    font-size: 2em;
    line-height: 1em;
  }

  .project-tile .container p {
    font-size: 1.3em;
  }

  #contact .icons a img {
    width: 6em;
  }

  #navbar ul a li {
    font-size: 1.8em;
  }

  #skills .pl-container {
    width: 16em;
  }

  #skills .pl-container .pl-logo {
    width: 5.5em;
  }

  #skills .pl-container .pl-text {
    font-size: 1.8em;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .logo-img {
    width: 6.7rem;
    height: 3.3rem;
  }

  #welcome-section h1 {
    font-size: 5.5em;
  }

  #welcome-section .welc-content h2 {
    font-size: 3em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 2.1em;
    line-height: 1.6em;
  }

  .intro-text {
    font-size: 3.8rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.6em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.2em;
    width: 38em;
    height: 28em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 17em;
  }

  .project-tile .container .project-title {
    font-size: 2.5em;
    line-height: 1em;
  }

  .project-tile .container p {
    font-size: 1.5em;
  }

  #contact .icons a img {
    width: 8em;
  }

  #navbar ul a li {
    font-size: 2.2em;
  }

  #skills .pl-container {
    width: 18em;
  }

  #skills .pl-container .pl-logo {
    width: 6em;
  }

  #skills .pl-container .pl-text {
    font-size: 2em;
  }
}

@media (min-width: 1281px) and (max-width: 1439px) {
  .logo-img {
    width: 6.7rem;
    height: 3.3rem;
  }

  #welcome-section h1 {
    font-size: 5.5em;
  }

  #welcome-section .welc-content h2 {
    font-size: 3em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 2.1em;
    line-height: 1.6em;
  }

  .intro-text {
    font-size: 3.8rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 2.6em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }
  .project-tile {
    margin: 1em;
    padding: 0.5em;
    line-height: 1.2em;
    width: 38em;
    height: 28em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 17em;
  }

  .project-tile .container .project-title {
    font-size: 2.5em;
    line-height: 1em;
  }

  .project-tile .container p {
    font-size: 1.5em;
  }

  #contact .icons a img {
    width: 8em;
  }

  #navbar ul a li {
    font-size: 2.2em;
  }

  #skills .pl-container {
    width: 18em;
  }

  #skills .pl-container .pl-logo {
    width: 6em;
  }

  #skills .pl-container .pl-text {
    font-size: 2em;
  }
}

@media (min-width: 1440px) and (max-width: 1550px) {
  .logo-img {
    width: 8.7rem;
    height: 5.3rem;
  }

  #welcome-section h1 {
    font-size: 6.5em;
  }

  #welcome-section .welc-content h2 {
    font-size: 3.5em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 2.3em;
    line-height: 1.8em;
  }

  .intro-text {
    font-size: 4rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 3em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.5em;
  }
  .project-tile {
    margin: 1em;
    padding: 1em;
    line-height: 1.2em;
    width: 42.5em;
    height: 32em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 19em;
  }

  .project-tile .container .project-title {
    font-size: 2.8em;
    line-height: 1em;
  }

  .project-tile .container p {
    font-size: 1.8em;
  }

  #contact .icons a img {
    width: 8em;
  }

  #navbar ul a li {
    font-size: 2.5em;
  }

  #skills .pl-container {
    width: 22em;
  }

  #skills .pl-container .pl-logo {
    width: 7.5em;
  }

  #skills .pl-container .pl-text {
    font-size: 2.2em;
  }
}

@media (min-width: 1551px) {
  .logo-img {
    width: 10.7rem;
    height: 7.3rem;
  }

  #welcome-section h1 {
    font-size: 7em;
    margin-top: 1em;
  }

  #welcome-section .welc-content h2 {
    font-size: 4em;
  }

  #welcome-section .welc-content .welc-desc {
    font-size: 2.6em;
    line-height: 1.8em;
  }

  .intro-text {
    font-size: 5rem; /*for animation*/
    line-height: 3em;
  }

  .section-title {
    font-size: 3.7em;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.5em;
  }
  .project-tile {
    margin: 1em;
    padding: 1em;
    line-height: 1.2em;
    width: 46.5em;
    height: 34em;
    border-radius: 1em;
  }
  .project-tile img {
    width: 100%;
    height: 20em;
  }

  .project-tile .container .project-title {
    font-size: 3em;
    line-height: 1em;
  }

  .project-tile .container p {
    font-size: 2em;
  }

  #contact .icons a img {
    width: 9em;
  }

  #navbar ul a li {
    font-size: 2.8em;
  }

  #skills .pl-container {
    width: 28em;
  }

  #skills .pl-container .pl-logo {
    width: 8em;
  }

  #skills .pl-container .pl-text {
    font-size: 2.5em;
  }
}
