/* -------------------------------------------------- */
/* General Settings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");

:root {
  font-size: 62.5%;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, rgb(55, 55, 55) 0%, rgb(29, 29, 33) 100%);
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background: linear-gradient(90deg, rgb(29, 29, 33) 0%, rgb(55, 55, 55) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-img {
  /*mq*/
  width: 8.5rem;
}

.logo-img:hover {
  content: url(./assets/logo-personal2.png);
}

#navbar ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem; /*mq*/
}

#navbar ul a li {
  transition: 0.2s;
}

#navbar ul a li:hover {
  color: #ffd700;
}

#welcome-section {
  margin-top: 10rem;
  text-align: center;
  color: white;
}

#welcome-section {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.8em;
}

#welcome-section h1 {
  padding: 0.5rem;
  font-size: 3.2rem;
}

#welcome-section span {
  color: #ffd700;
}

#welcome-section .welc-content {
  margin: 4em;
}

#welcome-section h1 {
  font-size: 4em;
}

#welcome-section .welc-content h2 {
  font-size: 2.8rem;
}

#welcome-section .welc-content .welc-desc {
  margin: 1em 0;
  font-size: 2.1rem;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 2.7rem;
}

#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: start;
  color: white;
  width: 100%;
  margin-bottom: 2rem;
}
.project-tile {
  margin: 0 auto;
  max-width: 1fr;
  width: 75%;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem 0.2rem #ffd900b4;
  border-radius: 2rem;
  transition: 0.5s;
}

.project-tile img:hover {
  transform: scale(1.08);
}

.project-tile img {
  width: 75%;
  border-radius: 2em;
  transition: 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-tile .container .project-title {
  margin: 0.5em;
  font-size: 2.1rem;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .icons img {
  transition: 0.5s ease;
}

#contact .icons img:hover {
  transform: scale(1.2);
}

.icons a img {
  width: 4.2em;
  margin: 0 1.5rem 0 1.5rem;
}

/* ------------------------------------------------ */
/* movein animation */
#skills {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
}

.pl-container {
  display: grid;
  place-items: center;
  box-shadow: 0 0.3rem 0.5rem 0.2rem #ffd900b4;
  border-radius: 10%;
  padding: 1rem;
  width: 50%;
  transform: translateX(700%);
}

.moveinout {
  animation: moveInOut 15s linear infinite;
}

.pl-logo {
  width: 55%;
}

.pl-text {
  color: white;
}

@keyframes moveInOut {
  0% {
    transform: translate3d(500%, 0, 0);
  }
  10% {
    transform: translate3d(400%, 0, 0);
  }
  20% {
    transform: translate3d(300%, 0, 0);
  }
  30% {
    transform: translate3d(200%, 0, 0);
  }
  40% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-500%, 0, 0);
  }
}
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* welcome-section animation */
.intro {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  background-color: #000000;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  animation: slide-in-out 3s ease-in-out forwards;
}

.anim {
  animation: slide-in-out 2s ease-in-out forwards;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.slider {
  background-color: rgb(30, 30, 30);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: #ffd700;
  font-size: 3.5rem;
  line-height: 3em;
}

@keyframes slide-in-out {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/* ---------------------------------------------- */

/* MQ */
@media (min-width: 320px) and (max-width: 425px) {
  #navbar {
    position: absolute;
    display: none;
  }

  #logo {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #projects {
    gap: 1rem;
  }

  .project-tile {
    width: 90%;
    padding: 0.5rem;
    border-radius: 1rem;
    height: 95%;
  }

  .project-tile img {
    border-radius: 1rem;
  }

  .project-tile .container .project-title {
    margin: 0 0.95rem 0.95rem 1rem;
    font-size: 1.3rem;
  }

  .pl-container {
    width: 90%;
    height: 90%;
  }

  .pl-logo {
    width: 60%;
  }

  .pl-text {
    font-size: 1.3rem;
  }

  #welcome-section .welc-content {
    margin: 2rem;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  #navbar {
    position: absolute;
    display: none;
  }

  #logo {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #projects {
    gap: 1rem;
  }

  .project-tile {
    width: 90%;
    padding: 0.5rem;
    border-radius: 1rem;
    height: 95%;
  }

  .project-tile img {
    border-radius: 1rem;
  }

  .project-tile .container .project-title {
    margin: 0 0.95rem 0.95rem 1rem;
    font-size: 1.3rem;
  }

  .pl-container {
    width: 90%;
    height: 95%;
  }

  .pl-logo {
    width: 60%;
  }

  .pl-text {
    font-size: 1.3rem;
  }

  #welcome-section .welc-content {
    margin: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #navbar {
    position: absolute;
    display: none;
  }

  #logo {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #projects {
    gap: 1rem;
  }

  .project-tile {
    width: 90%;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .project-tile .container .project-title {
    margin: 0 0.95rem 0.95rem 1rem;
    font-size: 2rem;
  }

  .pl-container {
    width: 90%;
  }

  .pl-logo {
    width: 55%;
  }

  .pl-text {
    font-size: 1.5rem;
  }

  #welcome-section .welc-content {
    margin: 2rem;
  }

  #welcome-section h1 {
    font-size: 3rem;
  }
}
